In [1]:
import pandas as pd
from pathlib import Path

In [4]:



# File Path
YR23_data_to_load = Path("JC-202303-citibike-tripdata.csv")
YR24_data_to_load = Path("JC-202403-citibike-tripdata.csv")

# Read Hospital General, Score, and Location Data File and store into Pandas DataFrames
YR23_data = pd.read_csv(YR23_data_to_load)
YR24_data = pd.read_csv(YR24_data_to_load)


YR23_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,3/25/2023 9:20,3/25/2023 9:32,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,3/15/2023 7:55,3/15/2023 8:07,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,3/20/2023 8:50,3/20/2023 9:00,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,3/2/2023 10:17,3/2/2023 10:27,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,3/4/2023 9:13,3/4/2023 9:25,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [3]:
YR24_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9F5EEFB7CF78C6EA,electric_bike,3/21/2024 13:32,3/21/2024 13:35,Stevens - River Ter & 6 St,HB602,City Hall - Washington St & 1 St,HB105,40.743143,-74.026907,40.737360,-74.030970,member
1,01E2E1F218F9D303,electric_bike,3/16/2024 8:26,3/16/2024 8:47,Pershing Field,JC024,Pershing Field,JC024,40.742379,-74.051996,40.742677,-74.051789,member
2,C2914D662B33AA55,electric_bike,3/15/2024 15:17,3/15/2024 15:32,Pershing Field,JC024,Pershing Field,JC024,40.742480,-74.051942,40.742677,-74.051789,member
3,6723F7CE51888493,electric_bike,3/13/2024 8:34,3/13/2024 8:50,Pershing Field,JC024,Pershing Field,JC024,40.742400,-74.051963,40.742677,-74.051789,member
4,EAB7E29AAB546941,electric_bike,3/15/2024 15:37,3/15/2024 16:19,Pershing Field,JC024,Pershing Field,JC024,40.742459,-74.051973,40.742677,-74.051789,member

In [6]:

# Add a year column
YR23_data['year'] = 2023
YR24_data['year'] = 2024

# Combine DataFrames
combined_df = pd.concat([YR23_data, YR24_data])

# Save to CSV
combined_df.to_csv("combined_citibike_data.csv", index=False)

combined_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,year
0,38F943EA06A4E54F,electric_bike,3/25/2023 9:20,3/25/2023 9:32,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023
1,C76EFC4C3B771E88,electric_bike,3/15/2023 7:55,3/15/2023 8:07,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,2023
2,02C7BC83975952E6,electric_bike,3/20/2023 8:50,3/20/2023 9:00,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023
3,DB0FB572E0AA9C36,electric_bike,3/2/2023 10:17,3/2/2023 10:27,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,2023
4,A238B2BDD1072D52,electric_bike,3/4/2023 9:13,3/4/2023 9:25,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,2023